## DB insert 0403
    - path 입력받아 DB insert : MySQL, AWS EC2

In [6]:
# install

!pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [2]:
import pandas as pd
import numpy as np

In [3]:
# df를 읽어올때 keep_default_na=False 옵션으로 NaN 값을 None으로 바꾸어 
# MySQL 데이터 추가 시 에러를 방지한다. 
# 파일 패스를 지정해 주고 사용하면 된다.

path = './synopsis_filter.csv'

In [4]:
# 데이터프레임 생성 # NaN 결측값을 확인한다.
data = pd.read_csv(path, keep_default_na=False)
data.isnull().sum()

serial         0
title          0
release        0
just_rating    0
imdb_rating    0
runtime        0
synopsis       0
director       0
actors         0
genre          0
poster_link    0
netflix        0
disney         0
wavve          0
watcha         0
dtype: int64

In [ ]:
import pymysql

# DB에 connect
conn = pymysql.connect(host='3.35.111.73',
                       port=3306,
                       user='carbon',
                       password='1111',
                #        db='JI_MOVIS',
                       db='testdb',
                       charset='utf8mb4')

# 커서 생성
cursor = conn.cursor()

""" 쿼리문 작성 및 실행 """

# testdb 에 Base 테이블 생성
sql1 = '''CREATE TABLE testdb.test_1
        (       
                MV_NO int(13) NOT NULL PRIMARY KEY,
                TITLE varchar(4000),
                OPEN_DATE varchar(1000),
                JUST_RATING varchar(1000),
                IMDB_RATING varchar(1000),
                RUNTIME varchar(500),
                SYNOPSIS varchar(4000),
                DIRECTOR varchar(1000),
                ACTORS varchar(4000),
                GENRE varchar(4000),
                POSTER_LINK varchar(1000),
                NETFLIX int,
                DISNEY int,
                WAVVE int,
                WATCHA int
        ) '''
        
cursor.execute(sql1)

# user table 에 값 insert
sql2 = '''INSERT INTO test_1 (MV_NO, TITLE, OPEN_DATE, JUST_RATING, IMDB_RATING, 
                RUNTIME, SYNOPSIS, DIRECTOR, ACTORS, GENRE, POSTER_LINK, NETFLIX, DISNEY, WAVVE, WATCHA) 
                VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
                
for idx in range(len(data)):
    cursor.execute(sql2, tuple(data.values[idx]))  # data.values[idx] 는 배열이기에 튜플타입을 활용한다. 

conn.commit()
conn.close()

# with 방법을 고려하는 것도 가능하다. 오픈 클로즈 필요없이 with 구문이 끝나면 자동 종료된다. 
# 에러가 났을때 연결이 close() 되지 않는 것을 방지하는 차원에서 사용가능.

# with conn:
#     with conn.cursor() as cur:
#         cur.execute(sql1)
#         cur.execute(sql2, (value))
#         cur.execute(sql2, (value))
#         conn.commit()
### 커밋 후 with 구문으로 자동 종료.

- MySQL data를 확인해보도록 하자. ROW에 입력되는 데이터는 다음과 같다.

In [ ]:
data.columns            # 컬럼 확인.
data.values[1]          # ROW data 확인
tuple(data.values[0])   # tuple 형태로 변환된 값 확인.

# 실제 사용 코드  _ 0401

In [ ]:
import pymysql

# DB에 connect
conn = pymysql.connect(host='3.35.111.73',
                       port=3306,
                       user='carbon',
                       password='1111',
                       db='JI_MOVIS',  
                       charset='utf8')

# 커서 생성
cursor = conn.cursor()

""" 쿼리문 작성 및 실행 """

# testdb 에 Base 테이블 생성
sql1 = '''CREATE TABLE JI_MOVIS.base
        (       
                MV_NO int(13) NOT NULL PRIMARY KEY,
                TITLE varchar(4000),
                OPEN_DATE varchar(1000),
                JUST_RATING varchar(1000),
                IMDB_RATING varchar(1000),
                RUNTIME varchar(500),
                SYNOPSIS text(65535),
                DIRECTOR varchar(1000),
                ACTORS text(100),
                GENRE varchar(4000),
                POSTER_LINK varchar(1000),
                NETFLIX int,
                DISNEY int,
                WAVVE int,
                WATCHA int
        ) '''
        
cursor.execute(sql1)

# user table 에 값 insert
sql2 = '''INSERT INTO base (MV_NO, TITLE, OPEN_DATE, JUST_RATING, IMDB_RATING, 
                RUNTIME, SYNOPSIS, DIRECTOR, ACTORS, GENRE, POSTER_LINK, NETFLIX, DISNEY, WAVVE, WATCHA) 
                VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
                
for idx in range(len(data)):
    cursor.execute(sql2, tuple(data.values[idx]))  # data.values[idx] 는 배열이기에 튜플타입을 활용한다. 

conn.commit()
conn.close()

- 0401 통합 movie 파일 올려두기 위해 남겨둔 부분.  에러 (리버풀 이슈) 수정해서 
    - 시놉 전처리 없이 올라갈 수 있어.. 혹시 특수문자나 따로 전처리가 필요하다면 재작업 가능!
- 0401 db 개별 ott id 매겨서 올려두기

In [14]:
import pandas as pd

In [24]:
# path = '0401_netflix.csv'
# path = '0401_disney.csv'
# path = '0401_wavve.csv'
# path = '0401_watcha.csv'
# paht = '0401_movie_db.csv'

In [173]:
# 데이터프레임 생성 # NaN 결측값을 확인한다.
data = pd.read_csv('0401_movie_db.csv', keep_default_na=False)
data.isnull().sum()

serial         0
title          0
release        0
just_rating    0
imdb_rating    0
runtime        0
synopsis       0
director       0
actors         0
genre          0
poster_link    0
netflix        0
disney         0
wavve          0
watcha         0
dtype: int64

In [175]:
import pymysql

# DB에 connect
conn = pymysql.connect(host='3.35.111.73',
                       port=3306,
                       user='carbon',
                       password='1111',
                       db='FOR_YM',  
                       charset='utf8mb4')

# 커서 생성
cursor = conn.cursor()

""" 쿼리문 작성 및 실행 """

# testdb 에 Base 테이블 생성
# sql1 = '''CREATE TABLE JI_MOVIS.base
#         (       
#                 MV_NO int(13) NOT NULL PRIMARY KEY,
#                 TITLE varchar(4000),
#                 OPEN_DATE varchar(1000),
#                 JUST_RATING varchar(1000),
#                 IMDB_RATING varchar(1000),
#                 RUNTIME varchar(500),
#                 SYNOPSIS text(65535),
#                 DIRECTOR varchar(1000),
#                 ACTORS text(100),
#                 GENRE varchar(4000),
#                 POSTER_LINK varchar(1000),
#                 NETFLIX int,
#                 DISNEY int,
#                 WAVVE int,
#                 WATCHA int
#         ) '''
        
# cursor.execute(sql1)

# user table 에 값 insert
sql2 = '''INSERT INTO MOVIE (id, title, opening_date, just_rating, imdb_rating, runtime, 
                                synopsis, director, actors, genre, poster_link, netflix, 
                                disneyplus, wavve, watcha) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
                
for idx in range(len(data)):
    cursor.execute(sql2, tuple(data.values[idx]))  # data.values[idx] 는 배열이기에 튜플타입을 활용한다. 

conn.commit()
conn.close()

# 범인 검거 
 - 웨이브 데이터의  리버풀이란 영화. index는 7931번 
- \U00100003 >>> 삭제하면 문제안됨.
- 그에따라 전체 무비 데이터도 시놉 전처리 없이 들어갈 수 있어!!

In [ ]:
'''
개인적인 여정을 고요하게 담은 영화. 배가 아르헨티나 최남단 지점에 정박하자, 
\n선원인 패럴은 어머니의 생사를 확인하려고 20년만에 고향을 방문한다. 패럴은 술을 마시면서 시간을 보내다 집에 도착한다. 
\n하지만 20년 만에 돌아온 집에서 노환으로 누운 어머니를 만나는 기쁨도 잠시, 
패럴은 예상치도 못했던 가족의 비밀을 알게 된다.
\n

\U00100003  <<< 요기 요놈이 포함되면 에러를 일으킵니다!

리산드로 알론소 감독은 전통적인 관찰 방식으로 패럴의 무심함을 관찰한다. 
카메라가 담은 패럴의 삶은 지루하고, \n그는 남겨두고 온 사람들에 대해 무還？求? 
아르헨티나의 설원을 익스트림 롱샷으로 담은 장면에서 패럴의 침묵과 느릿한 걸음걸이는 
\n영화의 차가운 기운과 어울린다. 시종일관 정적으로 움직이는 카메라는 패럴의 삶뿐만 아니라 
우리의 삶이 더 나아갈 곳이 없다는 \n것을 보여준다. 서서히 비극을 전개하면서, 패럴이 고뇌하는 순간마다 
미세한 감정을 잡아내는 연출력이 돋보이는 작품이다.
'''

In [161]:
# 변경된 리버풀 시놉 찾기  >>> 
data.loc[7931, 'synopsis'] = '''개인적인 여정을 고요하게 담은 영화. 배가 아르헨티나 최남단 지점에 정박하자, 
선원인 패럴은 어머니의 생사를 확인하려고 20년만에 고향을 방문한다. 패럴은 술을 마시면서 시간을 보내다 집에 도착한다. 
하지만 20년 만에 돌아온 집에서 노환으로 누운 어머니를 만나는 기쁨도 잠시, 패럴은 예상치도 못했던 가족의 비밀을 알게 된다.
리산드로 알론소 감독은 전통적인 관찰 방식으로 패럴의 무심함을 관찰한다. 카메라가 담은 패럴의 삶은 지루하고, 
그는 남겨두고 온 사람들에 대해 무還？求? 아르헨티나의 설원을 익스트림 롱샷으로 담은 장면에서 패럴의 침묵과 느릿한 걸음걸이는 
영화의 차가운 기운과 어울린다. 시종일관 정적으로 움직이는 카메라는 패럴의 삶뿐만 아니라 우리의 삶이 더 나아갈 곳이 없다는 
것을 보여준다. 서서히 비극을 전개하면서, 패럴이 고뇌하는 순간마다 미세한 감정을 잡아내는 연출력이 돋보이는 작품이다.'''

In [ ]:
['title_kor' 'opening_date' 'just_rating' 'imdb_rating' 'runtime'
 'synopsis' 'director' 'actors' 'genre' 'posterLink' 'netflix' 'disney'
 'wavve' 'watcha']