In [18]:
import numpy as np
import pandas as pd

In [17]:
# # 정렬및 임시저장
# temp1.sort_values(by=['opening_date', 'title_kor'], ascending=False, na_position='first', inplace=True, ignore_index=True)
# temp2.sort_values(by=['opening_date', 'title_kor'], ascending=False, na_position='first', inplace=True, ignore_index=True)
# temp3.sort_values(by=['opening_date', 'title_kor'], ascending=False, na_position='first', inplace=True, ignore_index=True)
# temp4.sort_values(by=['opening_date', 'title_kor'], ascending=False, na_position='first', inplace=True, ignore_index=True)

In [16]:
# sig 쓰면 엑셀에서 읽어지는데 왜 sig 일까
# temp1.to_csv(r'./0330wavve.csv', index=False, encoding='utf-8-sig') 
# temp2.to_csv(r'./0330watcha.csv', index=False, encoding='utf-8-sig')
# temp3.to_csv(r'./0330netflix.csv', index=False, encoding='utf-8-sig')
# temp4.to_csv(r'./0330disney.csv', index=False, encoding='utf-8-sig')

0. 임시저장 불러오기

In [19]:
temp1= pd.read_csv(r'./0330wavve.csv') 
temp2= pd.read_csv(r'./0330watcha.csv')
temp3= pd.read_csv(r'./0330netflix.csv')
temp4= pd.read_csv(r'./0330disney.csv')

In [20]:
len(temp1), len(temp2), len(temp3), len(temp4)
# (10651, 5564, 3270, 968)

(10650, 5562, 3270, 967)

- 진행경과

    정렬. 컬럼통일, 매핑되어있는것 확인, 

- 이후 진행은 

    포스터 링크 키값가능한지 확인 후 머지.

In [4]:
len(temp1.columns), len(temp2.columns), len(temp3.columns), len(temp4.columns)

(14, 14, 14, 14)

In [5]:
len(temp1), len(temp2), len(temp3), len(temp4)

(10651, 5564, 3270, 968)

In [6]:
temp1.nunique()

title_kor       10506
opening_date       90
just_rating        83
imdb_rating       157
runtime           190
synopsis        10645
director         6541
actors          10211
genre            2826
posterLink      10651
netflix             1
disney              1
wavve               1
watcha              1
dtype: int64

In [7]:
temp1.posterLink.nunique() # 10651 1개어디.
temp2.posterLink.nunique() #  5564 2개어디?
temp3.posterLink.nunique() # 3270 유니크
temp4.posterLink.nunique() # 968  1개 어디?

968

# 엑셀에서 중복값 확인후 처리 해볼것

In [8]:
# 디즈니

# Heavy Metal Mater 2010
# Unidentified Flying Mater 2009 
# 같은영화인데 정보달리해서 중복으로 들어가 있음. 확인. 

# Unidentified Flying Mater 2009 드랍할것. 
temp4.values

array([['판다를 안아줘!: 메이의 새빨간 비밀 비하인드', 2022, '79%', ..., 1, 0, 0],
       ['클로틸다: 미국의 마지막 노예선', 2022, '65%', ..., 1, 0, 0],
       ['메이의 새빨간 비밀', 2022, '85%', ..., 1, 0, 0],
       ...,
       ['아기 돼지 삼형제', 1933, '74%', ..., 1, 0, 0],
       ['Flowers and Trees', 1932, '73%', ..., 1, 0, 0],
       ['증기선 윌리', 1928, '80%', ..., 1, 0, 0]], dtype=object)

In [9]:
np.where(temp4.values == 'Heavy Metal Mater') # 인덱스 475행
np.where(temp4.values == 'Unidentified Flying Mater') # 인덱스 506행
temp4 = temp4.drop(506)
len(temp4) # 968

967

In [21]:
# temp1.posterLink.nunique() # 10651 1개어디.
# 다큐 빅 브라더 2018년 
# 액션스릴러 헌터스 프레어 2017 겹쳐. 
# 포스터 링크는 헌터스 프레어로 연결되므로 빅 브라더 드랍. 

np.where(temp1.values == '빅 브라더') #인덱스 2681
# temp1 = temp1.drop(2681)
len(temp1)

10650

In [26]:
temp1.values[2680]

array(['빅샤크2: 해저2만리', 2018, nan, nan, '1시간16분',
       "세계명작 '해저2만리' 속으로 떠나는 빅샤크와 바닷속 친구들의 짜릿한 대모험! 평화롭던 바다 왕국. 어느 날, 정체불명의 해저몬스터가 출몰해 화물선을 잇달아 파괴하며 바다왕국을 온통 공포로 몰아넣는다. 용감한 아기상어 메이와 바닷속 친구들은 몬스터를 잡기 위해 동화 속 해저2만리로 탐험을 떠나기로 한다. 하지만 탐험을 시작하기도 전에 메이가 그만 해저몬스터에게 납치되고 마는데… 아빠상어 빅샤크와 꼬마잠수함 올리와 베스, 수달 보보, 그리고 해마친구들은 위험에 빠진 아기상어를 구하기 위해 깊은 바다 밑 해저 2만리 속으로 신비하고도 짜릿한 모험을 시작한다!",
       nan, 'ChurongFan,HongHaitian', '액션,애니메이션',
       'https://images.justwatch.com/poster/117938149/s592', 0, 0, 1, 0],
      dtype=object)

In [11]:
np.where(temp1.values == '빅 브라더') # 없음.

(array([], dtype=int64), array([], dtype=int64))

In [12]:
len(temp2), temp2.posterLink.nunique() # 2r개 찾기. 
# 사랑과 영혼: 헬로우 고스트  영화가 2개. 1개 드랍 하고
# 빅 브라더 라는 중국 이상한 코미디 영화. 드랍. 

np.where(temp2.values == '사랑과 영혼: 헬로우 고스트')  # 1343, 1344 2개 있어.
# np.where(temp2.values == '빅 브라더') #1352
temp2 = temp2.drop(1344)
temp2 = temp2.drop(1352)
len(temp2) # 5566 - 2 = 5564

5562

In [13]:
# np.where(temp2.values == '사랑과 영혼: 헬로우 고스트')
# np.where(temp2.values == '빅 브라더') # 결과없음.

In [14]:
# temp3 는 포스터 링크 유니크.

In [15]:
# 인덱스 정렬 
temp1.reset_index(inplace=True, drop=True)
temp2.reset_index(inplace=True, drop=True)
temp3.reset_index(inplace=True, drop=True)
temp4.reset_index(inplace=True, drop=True)

1.

In [ ]:
t1 = pd.merge(temp3, temp4, on=['title_kor', 'opening_date', 'posterLink'], how='inner')
t1

In [ ]:
title_list = t1.title_kor.values
title_list, type(title_list)

In [ ]:
title_list[0]

In [ ]:
# print(np.where(title_list == '나를 찾아줘')[0][0])
np.where(title_list == '나를 찾아줘',)
# np.where('나를 찾아줘')

In [ ]:
# duplication_list = []
# for i,v in enumerate(title_list):
#     where_index = np.where(title_list == title_list[i])[0]
#     print(i, v, where_index)
#     # print(v)
#     duplication_list.append(where_index)

# len(duplication_list)
# type(i), type(v)

In [ ]:
# temp3['disney'][1] = 3

In [ ]:
for t in title_list:
    v = np.where(temp3.title_kor==t)[0][0]
    temp3['disney'][v] = 1
    print(t, v)
sum(temp3.disney)

In [ ]:
len(temp3), len(temp4)

In [ ]:
dt_concat = pd.concat([temp3, temp4], ignore_index=True, axis=0)
len(dt_concat) # 4238 = 3270 + 968

In [ ]:
dt_concat.nunique() 
# 포스터링크 4234 . 4개 공통이었으므로 맞는 값임.
# 넷플, 디즈니 매핑됐으니. 각 유니크값은 0, 1 로 두개씩

In [ ]:
len(dt_concat)
list(map(sum, [dt_concat.wavve, dt_concat.watcha, dt_concat.netflix, dt_concat.disney]))

In [ ]:
# 드랍. 넷플에 디즈니 매핑 후 공통된 값 드랍.
dt_concat.drop_duplicates(subset=['title_kor', 'opening_date', 'posterLink'], inplace=True)
len(dt_concat), len(t1), len(temp3), len(temp4)

----------------------

In [ ]:
len(dt_concat)
list(map(sum, [dt_concat.wavve, dt_concat.watcha, dt_concat.netflix, dt_concat.disney]))

# 컨캣 dt와  왓챠(temp2) 붙이고 중복제거.

In [ ]:
dt_concat.reset_index(drop=True, inplace=True)
# dt_concat

In [ ]:
t2 = pd.merge(dt_concat, temp2, on=['title_kor','opening_date','posterLink'], how='inner')
len(t2) # 공통영화 574

In [ ]:
title_list = t2.title_kor.values
title_list, type(title_list), len(title_list)

In [ ]:
t2[t2.title_kor.duplicated() == True]  # 같은 제목 하나 있음.

In [ ]:
np.where(title_list == '너의 췌장을 먹고 싶어')[0].tolist()

In [ ]:
# np.where(dt_concat.title_kor=='침입자')[0].tolist()
# np.where(dt_concat.title_kor=='히트맨')[0].tolist()

In [ ]:
len(np.where(dt_concat.title_kor=='침입자')[0].tolist())

In [ ]:
n = 0
m = 0
for t in title_list:
    v = np.where(dt_concat.title_kor==t)[0].tolist()
    if len(v) > 1:
        dt_concat['watcha'][v[1]] = 1
        print(t,v,v[1],'2개 이상.')
    else:
        dt_concat['watcha'][v[0]] = 1
        # print(t, v[0], '2개짜리')
         
    # # if v[1] in v == True:
    # #     m +=1
    # #     print(v[1])
    # # temp3['disney'][v] = 1
    # # dt_concat['watcha'][v] = 1
    # print(t, v, n)
    # n+=1
# sum(dt_concat.watcha)

In [ ]:
# 현재 매핑 값 확인.
len(dt_concat)
list(map(sum, [dt_concat.wavve, dt_concat.watcha, dt_concat.netflix, dt_concat.disney]))

In [ ]:
dt_concat = pd.concat([dt_concat, temp2], ignore_index=True, axis=0)
len(dt_concat)

In [ ]:
dt_concat.drop_duplicates(subset=['title_kor', 'opening_date', 'posterLink'], inplace=True)
# len(dt_concat), len(t1), len(temp3), len(temp4)  # (4234, 4, 3270, 968)
len(dt_concat), len(t2), len(temp2) # (9224, 574, 5564)

In [ ]:
temp2.nunique()
len(temp2)
# sum(dt_concat.watcha)

In [ ]:
# 현재 매핑 값 확인.
len(dt_concat)
list(map(sum, [dt_concat.wavve, dt_concat.watcha, dt_concat.netflix, dt_concat.disney]))

# 컨캣 dt와  웨이브(temp1) 붙이고 중복제거.

In [ ]:
dt_concat.reset_index(drop=True, inplace=True)
# dt_concat

In [ ]:
copy = dt_concat.copy()

In [ ]:
# 현재 매핑 값 확인.
len(dt_concat)
list(map(sum, [dt_concat.wavve, dt_concat.watcha, dt_concat.netflix, dt_concat.disney]))

In [ ]:
t3 = pd.merge(dt_concat, temp1, on=['title_kor','opening_date','posterLink'], how='inner')
len(t3) # 공통영화 5200

In [ ]:
len(t3.posterLink.values)

In [ ]:
poster_list = t3.posterLink.values
poster_list

In [ ]:
title_list = t3.title_kor.values
title_list, type(title_list), len(title_list)

In [ ]:
np.where(dt_concat.title_kor==title_list[1])[0]
len(np.where(dt_concat.title_kor==title_list[1])[0])

In [ ]:
num = 0
for p in poster_list:
    i = np.where(dt_concat.posterLink==p)[0][0]
    title = dt_concat.title_kor.values[i]
    dt_concat['wavve'][i] = 1
    
    # print
    # print(p[0][0])
    print(i,title)
    num += 1
num
sum(dt_concat.wavve), num

In [ ]:
t3.title_kor

In [ ]:
for t in title_list:
    v = np.where(dt_concat.title_kor==t)
    # temp3['disney'][v] = 1
    # dt_concat['watcha'][v] = 1
    # dt_concat['wavve'][v] = 1
    # print(t, v, (len(v)+97))
    print(t, v, (len(v)+97))
# sum(temp3.disney)
# sum(dt_concat.watcha)
sum(dt_concat.wavve)

In [ ]:
len(range(5))

In [ ]:
for t in title_list:
    v = np.where(dt_concat.title_kor==t)[0][0]
    # temp3['disney'][v] = 1
    dt_concat['watcha'][v] = 1
    print(t, v)
# sum(temp3.disney)
sum(dt_concat.watcha)

In [ ]:
title_list.

In [ ]:
s = pd.Series(title_list)

In [ ]:
s.duplicated().sum()

In [ ]:
inplace=True

- 로우수 적은 디즈니부터 공통된 영화 찾고 & 마킹 >>> 컨캣후 중복값 드랍.

In [ ]:
# 3과 4  (넷플과 디즈니)  

t1 = pd.merge(temp3, temp4, on=['title','opening_date'],how='inner')
t1.head()

In [ ]:
# 4개의 영화 공통. >>> 매핑 temp3 디즈니에 1 

# 인덱스로 값을 찾아 부여하기 위해 
length = range(len(t1))
for i in length:
    for j in range(len(temp3)):
        if (temp3.title.values[j] + str(temp3.opening_date.values[j]) == t1.title.values[i] + str(t1.opening_date.values[i])):
            temp3.m_disney[j] = 1  # temp3에 디즈니 매핑
            print(i), print(j)

print("=== "+ str(sum(temp3.m_disney[:]))+" 개의 공통 영화 매핑 완료 ===")

In [ ]:
# 컨캣 후 드랍할것 # 색인을 위해 일부러 인덱스는 남김
dt_concat = pd.concat([temp3, temp4], axis=0)
len(dt_concat) , len(temp3), len(temp4) # 3390 + 969 = 4359

In [ ]:
# 중복값 체크후 없으므로 드랍따로 없음
dt_concat.duplicated().sum()   # >>> 0
# 공통된 4개 제거된 숫자 , inplace=None 이라 데이터 변화 없음. 
len(dt_concat.drop_duplicates(subset=['title', 'opening_date']))

In [ ]:
dt_concat.columns
# sum(dt_concat.m_netflix)  # 3390
# sum(dt_concat.m_disney)   # 973

# 중복 제거전 개수파악을 해서.. 공통 4개가 더 프러스 됐구나... 이해 완료.

In [ ]:
test_num_dt = dt_concat[dt_concat.columns[-4:]]
sum(test_num_dt.values)

In [ ]:
# 검출

num = 0
for i in test_num_dt.index:
    if sum(test_num_dt.values[i]) == 2:
        num = num + 1
print(num)

In [ ]:
dt_concat.reset_index(inplace=True, drop=True)
dt_concat

In [ ]:
# copy = dt_concat.copy()

- dt_concat index 바로 잡고. temp2 붙이기

In [ ]:
t2 = pd.merge(dt_concat, temp2, 
    on=['title', 'opening_date'], how='inner')
# t2.head()
len(t2) # 중복영화 697개

In [ ]:
# 697개의 영화 공통. >>> 매핑 dt_concat m_왓챠에 1 

# 인덱스로 값을 찾아 부여하기 위해 
length = range(len(t2))
for i in length:
    for j in range(len(dt_concat)):
        if (dt_concat.title.values[j] + str(dt_concat.opening_date.values[j]) == t2.title.values[i] + str(t2.opening_date.values[i])):
            # dt_concat.m_disney[j] = 1  # dt_concat에 디즈니 매핑
            dt_concat.m_wacha[j] = 1
            print(i), print(j)

print("=== "+ str(sum(dt_concat.m_wacha[:]))+" 개의 공통 영화 매핑 완료 ===")

In [ ]:
sum(dt_concat.m_wacha) # 697 매핑 확인
# len(dt_concat) # 3 + 4 후 중복제거  4359row

In [ ]:
# 컨캣 후 드랍할것 # 색인을 위해 일부러 인덱스는 남김
dt_concat = pd.concat([dt_concat, temp2], axis=0)
len(dt_concat) , len(temp2), 4359  # 5537 + 4359 = 9896

In [ ]:
# 드랍 # 중복값 없으므로 드랍 없음.
dt_concat.duplicated().sum()  # >>> 0
dt_concat.title.duplicated().sum()

In [ ]:
# 중복값 체크후 없으므로 드랍따로 없음
dt_concat.duplicated().sum()   # >>> 0
# 공통된 697개 제거된 숫자 , inplace=None 이라 데이터 변화 없음. 
len(dt_concat.drop_duplicates(subset=['title', 'opening_date']))
# 9196 + 697 = 9893 row 인데 ... 3개가 어디로 갔지? 제목+개봉일 도 키가 될순 없네. >>> 9896이 드랍전이므로, 디즈니의 중복값 때문에 3개 더 나옴.
# 같은해 같은이름으로 다른영화가 개봉할 수 있으니. >>> 없는것으로 확인!

In [ ]:
dt_concat.drop_duplicates(inplace=True, subset=['title', 'opening_date'])
len(dt_concat)
dt_concat.reset_index(inplace=True, drop=True)
dt_concat.tail(2)

In [ ]:
dt_concat.columns
sum(dt_concat.m_netflix)  # 3390 >>> 3390
sum(dt_concat.m_disney)   # 973 >>> 969 
# 중복제목이 다수일때 듀플리케이트가 
# 하나가 아니라 여러개를 버려서 개수차이가 난다.

In [ ]:
# 검출

test_num_dt = dt_concat[dt_concat.columns[-4:]]
sum(test_num_dt.values) 

num = 0
num3 = 0
for i in test_num_dt.index:
    if sum(test_num_dt.values[i]) == 2:
        num += 1
    elif sum(test_num_dt.values[i])==3:
        num3 += 1

print(num), print(num3)

# 697 개가 아니라 698개인 걸로 보아. 3짜리 매핑된게 하나 있나보다.
# 3짜리 1개 검출. 인정.

In [ ]:
copy = dt_concat.copy()

- dt_concat index 바로 잡고. temp1 붙이기

In [ ]:
t3 = pd.merge(dt_concat, temp1,
        on=['title', 'opening_date'], how='inner')
len(t3) # 중복영화 5222
# t3.head()

In [ ]:
# 5222 개의 영화 공통. >>> 매핑 dt_concat m_웨이브에 1 

# 인덱스로 값을 찾아 부여하기 위해 
length = range(len(t3))
for i in length:
    for j in range(len(dt_concat)):
        if (dt_concat.title.values[j] + str(dt_concat.opening_date.values[j]) == t3.title.values[i] + str(t3.opening_date.values[i])):
            # dt_concat.m_disney[j] = 1  # dt_concat에 디즈니 매핑 (넷플도 매핑되어있음.)
            # dt_concat.m_wacha[j] = 1   # dt_concat에 왓챠 매핑.
            dt_concat.m_wavve[j] = 1

            print(i), print(j)

print("=== "+ str(sum(dt_concat.m_wavve[:]))+" 개의 공통 영화 매핑 완료 ===")

In [ ]:
sum(dt_concat.m_wavve) # 5222개 매핑
sum(dt_concat.m_wacha) # 5537개 매핑
sum(dt_concat.m_netflix) # 3390개 매핑
sum(dt_concat.m_disney) # 969개 매핑
list(map(len, [temp1, temp2, temp3, temp4]))  # 매핑 개수는 결과적으로 잘 맞는듯 합니다. 
# 웨이브는 중복 확인 후 한번더 체크해 볼게요.

In [ ]:
# copy = dt_concat.copy()
len(dt_concat) # 9196 중복제거 전 현상태.
# 9,373 개 영상 정렬 기준 Popularity // 저스트와치 0329 기준
# 현재 저스트와치 디즈니, 넷플, 왓챠 선택시 9373개 나오는데
# 각 temp에서 제목, 시놉 없는것 버린거 감안하면. 200개 이내로 잃어버린 상황이네요.

- 최종 중복 제거후 길이 확인

In [ ]:
# 컨캣 후 드랍할것 # 색인을 위해 일부러 인덱스는 남김
dt_concat = pd.concat([dt_concat, temp1], axis=0)
len(dt_concat) , len(temp1), # 10746 + 9196 = 19942

In [ ]:
dt_concat.duplicated().sum() # 중복값 없음. 드랍없음.
dt_concat.title.duplicated().sum() # 같은 영화제목은 5491개나 있는 상황이네요. 중복제거후 한번더 확인함.

In [ ]:
# 14720 + 5222 = 19942  // 
# 중복제거후 로우수 + 같은 영화로 웨이브 매핑 수 = 중복전 컨켓테이블 로우수

In [ ]:
len(dt_concat.drop_duplicates(subset=['title', 'opening_date']))

In [ ]:
# inplace
dt_concat.drop_duplicates(inplace=True, subset=['title', 'opening_date'])
len(dt_concat)

In [ ]:
dt_concat.reset_index(inplace=True, drop=True)
dt_concat.tail(2)

In [ ]:
# 검출

test_num_dt = dt_concat[dt_concat.columns[-4:]]
sum(test_num_dt.values) 

num = 0 # 2에 해당.
num3 = 0 # 3에 해당.
num4 = 0 # 4에 해당.
for i in test_num_dt.index:
    if sum(test_num_dt.values[i]) == 2:
        num += 1
    elif sum(test_num_dt.values[i])==3:
        num3 += 1
    elif sum(test_num_dt.values[i])==4:
        num4 += 1 
        # print(str(test_num_dt.index[i])+"4개 당첨")

print(num), print(num3), print(num4)

# 4개 당첨된놈 찾아야지?

In [ ]:
# 3개 붙이고 인덱스 조정 후 검출한 결과가 아래일때 90개 가량 소실. 타이틀 + 개봉일로는 중복검출 완전하지 않네.
    # 2개 ott 매핑 698 
    # 3개 ott 매핑 1

In [ ]:
copy2 = dt_concat.copy()
copy2.to_csv('3rd_concat.csv', index=False)

In [ ]:
dt_concat.sort_values(by=['opening_date'], ascending=False, inplace=True, ignore_index=True)
dt_concat

In [ ]:
# 14,991 개 영상 정렬 기준 Popularity  
# OTT 4개 선택시 위와 같은데 14720 개로 셋팅. 개봉년도 2022가 위에 가도록 소팅. index 초기화 했으므로 
# 이 df 를 최종으로 쓴다고 할시 인덱스를 id로 하여 키값으로 활용가능
dt_concat.duplicated().sum() # 0

In [ ]:
dt_concat.to_csv('movie_total_220330.csv', index=False)
# dt_concat.to_csv('index_non_movie_total_220330.csv', index=False)
dt_concat.to_json(r'.movie_total_220330.json', orient='records', force_ascii=False, indent=2)

In [ ]:
df = dt_concat.copy()

In [ ]:
df

In [ ]:
df.info()
# 오프닝 데이트 인트로 바꿔줄 필요 있으면 후처리.
# 포스터링크 날린부분 필요하면 후처리.

In [ ]:
df.isnull().sum()

In [ ]:
sum(df.m_wavve) # >>> 10746 소실 없음. 
sum(df.m_wacha) # >>> 5537 소실없음. 
sum(df.m_netflix) # >>> 3390 소실 없음.
sum(df.m_disney) # >>> 969 소실 없음.
list(map(len, [temp1, temp2, temp3, temp4]))
# 매핑 잘 맞네요!

In [ ]:
###########
# 기존 제목, 시놉을 드랍한 상태로 시작했으니 처리된 결과를 각각 개수로 확인해 보면, 


# ott    수집로우 > 제목,시놉처리후 > 매핑후(중복제거)
 
# 웨이브  10780   >      10747      >     10746 1개?
# 와챠    5591    >      5537       >     5537  
# 넷플릭스 3390   >      3390       >     3390
# 디즈니   978    >      969        >     969

############

4 > 3 > 2 중요도 순으로 확인작업.

In [ ]:
df.columns

In [ ]:
col_li = ['m_wavve', 'm_wacha', 'm_netflix', 'm_disney']
count_dt = df[col_li]

In [ ]:
count_dt

In [ ]:
sum(count_dt.loc[:])

In [ ]:
count_dt.values[11917]

In [ ]:
ott4_title = []
idx = range(len(count_dt))
for i in idx:
    # print(i)
    if (sum(count_dt.loc[i]) == 4):
        print(f"인덱스는 : {i}")
        print(f"영화제목 : {df.title[i]}")
        print(f"매핑 : {count_dt.values[i]}")
        ott4_title.append([ df.title[i],count_dt.values[i], i])
    # (sum(count_dt[col_li][i]) == 4)

print("================================")

In [ ]:
ott4_title

In [ ]:
num = 0
ott3_title = []
for i in idx:
    
    if (sum(count_dt.loc[i]) == 3):
        print(f"인덱스는 : {i}") , 
        print(f"영화제목 : {df.title[i]}"), 
        print(f"매핑 : {count_dt.values[i]}")
        num +=1
        ott3_title.append([ df.title[i],count_dt.values[i], i])        
  
print("================================")
print(f"총 개수 : {num}")

In [ ]:
num = 0
ott2_title = []
for i in idx:
    
    if (sum(count_dt.loc[i]) == 2):
        print(f"인덱스는 : {i}") , 
        print(f"영화제목 : {df.title[i]}"), 
        print(f"매핑 : {count_dt.values[i]}")
        num +=1
        ott2_title.append([ df.title[i],count_dt.values[i], i])
  
print("================================")
print(f"총 개수 : {num}")

In [ ]:
num = 0
ott1_title = []
for i in idx:
    
    if (sum(count_dt.loc[i]) == 1):
        print(f"인덱스는 : {i}") , 
        print(f"영화제목 : {df.title[i]}"), 
        print(f"매핑 : {count_dt.values[i]}")
        num +=1
        ott1_title.append([ df.title[i],count_dt.values[i], i])
  
print("================================")
print(f"총 개수 : {num}")

In [ ]:
ott4_title

In [ ]:
ott3_title

In [ ]:
ott2_title

In [ ]:
ott1_title

In [ ]:
import numpy as np #어레이 저장.
np.save(r'./save/ott1_title.npy', ott1_title)
np.save(r'./save/ott2_title.npy', ott2_title)
np.save(r'./save/ott3_title.npy', ott3_title)
np.save(r'./save/ott4_title.npy', ott4_title)