In [2]:
# install

# notebook에서 (코랩, vscode) mysql에 데이터 넣기 위한 라이브러리 설치
!pip install sqlalchemy
!pip install pymysql

Requirement already satisfied: sqlalchemy in c:\users\jlune\.conda\envs\vv\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jlune\.conda\envs\vv\lib\site-packages (from sqlalchemy) (1.0.0)

In [20]:
# 데이터 불러오기 
import pandas as pd
import numpy as np
import re

In [22]:
df_movie = pd.read_csv(r'./data/movie_db0331.csv')
df_movie.head(2)

,title_kor,opening_date,just_rating,imdb_rating,runtime,synopsis,director,actors,genre,posterLink,netflix,disney,wavve,watcha
0,황무지의 괴물,2022,54%,4.6,1시간31분,19세기 외딴 황무지에 세상과 단절된 채 살아가는 가족이 있다. 이 집의 어린 아들...,NaN,"InmaCuesta,AsierFlores,RobertoÁlamo,AlejandraH...","공포,스릴러,드라마",https://images.justwatch.com/poster/259066109/...,1,0,0,0
1,홈 팀,2022,74%,6,1시간35분,자격 정지 처분을 받은 NFL 감독 숀 페이턴. 아들이 선수로 뛰는 형편없는 유소년...,"CharlesKinnane,DanielKinnane","KevinJames,TaylorLautner,RobSchneider,JackieSa...","코미디,스포츠",https://images.justwatch.com/poster/261668749/...,1,0,0,0

In [23]:
# ProgrammingError: nan can not be used with MySQL 에러 방지
# MySQL이 파이썬의 NaN을 받아들이지 못하므로, 모두 None로 변경한다.
df_movie = df_movie.where(pd.isnull(df_movie), None)
pd.notnull(df_movie).sum()

title_kor       0
opening_date    0
just_rating     0
imdb_rating     0
runtime         0
synopsis        0
director        0
actors          0
genre           0
posterLink      0
netflix         0
disney          0
wavve           0
watcha          0
dtype: int64

In [30]:
print(df_movie.columns.values)

['title_kor' 'opening_date' 'just_rating' 'imdb_rating' 'runtime'
 'synopsis' 'director' 'actors' 'genre' 'posterLink' 'netflix' 'disney'
 'wavve' 'watcha']

In [34]:
for i in df_movie.columns.values:
    print(i, end=', ')

title_kor, opening_date, just_rating, imdb_rating, runtime, synopsis, director, actors, genre, posterLink, netflix, disney, wavve, watcha,

In [27]:
data = df_movie

In [ ]:
#
테이블명.
컬럼명 str

In [ ]:
with conn:
    with conn.cursor() as cur:
        cur.execute('CREATE DATABASE testdb')
        conn.commit()

In [ ]:
# 1. pymysql 설치 및 불러오기
# pip install pymysql
import pymysql

# 2. 데이터베이스 연결
db = pymysql.connect(host='3.35.111.73', port=3306, user='carbon', password='1111',
                     charset='utf8')   # charset: 인코딩 설정

# 3. curosr 사용
cursor = db.cursor() 

# # 2. 데이터베이스 연결
# db = pymysql.connect(host='3.35.111.73', port=3306, user='carbon', password='1111',
#                      db='testdb', charset='utf8')   # charset: 인코딩 설정


# 4. 쿼리문 작성
# 컬럼명: 테이블의 컬럼명과 동일하게 입력
# %s 개수: 컬럼 개수만큼 입력
# sql = 'INSERT INTO disney(title ,opening_date ,just_rating ,imdb_rating ,runtime ,synopsis ,director ,actors ,genre ,poster_link, netflix, disneyplus, wavve, watcha) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s)'
sql = 'INSERT INTO total(title_kor, opening_date, just_rating, imdb_rating, runtime, synopsis, director, actors, genre, posterLink, netflix, disney, wavve, watcha) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'

cursor.execute('CREATE DATABASE testdb')



# 5. 데이터 import
for idx in range(len(data)):
    cursor.execute(sql, tuple(data.values[idx]))

# 6. 데이터베이스 업데이트 및 작업 종료
db.commit() 

# 7. 데이터베이스 닫기 
db.close()

# 주의사항 ( csv파일에 오류가 생겼을지)
# csv파일을 열었을시에 문자가 깨지는 현상이 발생하는 경우
# 1. 해당 csv파일을 notepad(메모장)파일로 열고 (연결프로그램 -> 메모장)
# 2. 다른 이름으로 저장 인코딩 (UTF-8(BOM)) 형태로 csv파일에 덮어 씌우기
# 3. 그래도 오류가 발생 시 해당 csv파일을 열고난 후 파일형식 : CSV(쉼표로 분리)로 저장

In [ ]:
conn = pymysql.connect(host='3.35.111.73',
                       port=3306,
                       user='carbon',
                       password='1111',
                       charset='utf8')


with conn:
    with conn.cursor() as cur:
        cur.execute('CREATE DATABASE testdb')
        conn.commit()

크리에이트 까지 쓰려면 애초에 디비까지 들어가면 안되. 그냥 커넥트만.

In [86]:
import pymysql

# 커넥트 생성
conn = pymysql.connect(host='3.35.111.73', port=3306, user='carbon', password='1111',
                     charset='utf8')   # charset: 인코딩 설정

# 커서 생성
cursor = conn.cursor()


### 쿼리문 실행.

cursor.execute('CREATE DATABASE bblue')  # 디비 만들기
cursor.execute('USE bblue')   # 디비 선택

# 테이블 만들기 및 실행.
sql1 = '''CREATE TABLE bblue.user(
        id int(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
        name varchar(255),
        email varchar(255)
        )
        '''
cursor.execute(sql1)

# user table 에 값 insert
sql2 = "INSERT INTO user (name, email) VALUES (%s, %s)"

sql3 = "SELECT * FROM user ORDER BY name"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql2, ('Jaehee', 'jaehee@example.com'))
        cur.execute(sql2, ('Jeongeun', 'jeongeun@example.com'))
        cur.execute(sql3)
        conn.commit()

In [ ]:
db = pymysql.connect(host='3.35.111.73', port=3306, user='carbon', password='1111',
                     charset='utf8')   # charset: 인코딩 설정

CREATE DATABASE

In [80]:
import pymysql

# conn = pymysql.connect(host='localhost',
#                        user='testuser',
#                        password='password!@',
#                        charset='utf8')

conn = pymysql.connect(host='3.35.111.73',
                       port=3306,
                       user='carbon',
                       password='1111',
                       charset='utf8')


with conn:
    with conn.cursor() as cur:
        cur.execute('CREATE DATABASE testdb')
        conn.commit()

SHOW DATABASES

In [75]:
import pymysql

# conn = pymysql.connect(host='localhost',
#                        user='testuser',
#                        password='Fktm068**',
#                        db='testdb',
#                        charset='utf8')

conn = pymysql.connect(host='3.35.111.73',
                       port=3306,
                       user='carbon',
                       password='1111',
                       charset='utf8')

sql = 'SHOW DATABASES'

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        for data in cur:
            print(data)

('MOVIS_db',)
('blue',)
('information_schema',)
('jikbang',)
('mysql',)
('performance_schema',)
('testdb',)
('world',)
('z_proj',)

Error: Already closed

CREATE TABLE

In [ ]:
import pymysql

# conn = pymysql.connect(host='localhost',
#                        user='testuser',
#                        password='Fktm068**',
#                        db='testdb',
#                        charset='utf8')

conn = pymysql.connect(host='3.35.111.73',
                       port=3306,
                       user='carbon',
                       password='1111',
                       db='testdb',
                       charset='utf8')

sql = '''CREATE TABLE user (
        id int(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
        name varchar(255),
        email varchar(255)
        )
        '''

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        conn.commit()

SHOW TABLES FROM testdb

In [60]:
conn = pymysql.connect(host='3.35.111.73',
                       port=3306,
                       user='carbon',
                       password='1111',
                       charset='utf8')

sql = 'SHOW TABLES FROM testdb' # from testdb 로 셀렉트가 되는듯. 

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        for data in cur:
            print(data)

('user',)

show columns from user from testdb

In [61]:
conn = pymysql.connect(host='3.35.111.73',
                       port=3306,
                       user='carbon',
                       password='1111',
                       charset='utf8')
sql = 'show columns from user from testdb'
with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        for data in cur:
            print(data)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('name', 'varchar(255)', 'YES', '', None, '')
('email', 'varchar(255)', 'YES', '', None, '')

INSERT INTO user (name, email) VALUES (%s, %s)
 - 계속 추가 된다

In [64]:
import pymysql

# conn = pymysql.connect(host='localhost',
#                        user='testuser',
#                        password='Fktm068**',
#                        db='testdb',
#                        charset='utf8')

conn = pymysql.connect(host='3.35.111.73',
                       port=3306,
                       user='carbon',
                       password='1111',
                       db='testdb',
                       charset='utf8')

sql = "INSERT INTO user (name, email) VALUES (%s, %s)"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql, ('Jaehee', 'jaehee@example.com'))
        cur.execute(sql, ('Jeongeun', 'jeongeun@example.com'))
        conn.commit()

"SELECT * FROM user ORDER BY name"

In [66]:
import pymysql

conn = pymysql.connect(host='3.35.111.73',
                       port=3306,
                       user='carbon',
                       password='1111',
                       db='testdb',
                       charset='utf8')

sql = "SELECT * FROM user ORDER BY name"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        result = cur.fetchall()
        for data in result:
            print(data)

(1, 'Jaehee', 'jaehee@example.com')
(3, 'Jaehee', 'jaehee@example.com')
(5, 'Jaehee', 'jaehee@example.com')
(2, 'Jeongeun', 'jeongeun@example.com')
(4, 'Jeongeun', 'jeongeun@example.com')
(6, 'Jeongeun', 'jeongeun@example.com')

In [ ]:
import pymysql

path = 

# 커넥트 생성
conn = pymysql.connect(host='3.35.111.73',
                       port=3306,
                       user='carbon',
                       password='1111',
                       db='testdb',
                       charset='utf8')

# 커서 생성
cursor = conn.cursor()


### 쿼리문 실행.

cursor.execute('CREATE DATABASE bblue')  # 디비 만들기
cursor.execute('USE bblue')   # 디비 선택

# 테이블 만들기 및 실행.
sql1 = '''CREATE TABLE bblue.user(
        id int(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
        name varchar(255),
        email varchar(255)
        )
        '''
cursor.execute(sql1)

# user table 에 값 insert
sql2 = "INSERT INTO user (name, email) VALUES (%s, %s)"

sql3 = "SELECT * FROM user ORDER BY name"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql2, ('Jaehee', 'jaehee@example.com'))
        cur.execute(sql2, ('Jeongeun', 'jeongeun@example.com'))
        cur.execute(sql3)
        conn.commit()